h1 {
    /* color: red; */
    color: #f00;
    /* color: rgb(27, 172, 93); */
    text-align: center;
    font-size: 40px;
}

/* Universal Selector
*{
     color : green; 
} */

/* tag / element selector  */
small {
    color: red;
}

/* attribute selector */
a[title="google"] {
    color: blue;
}

/* Id selector */
#idselector {
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    line-height: 50px;
}

/* class selector */
.classselector {
    color: red;
    font-style: italic;
}

.classselector1 {
    font-style: italic;
}

/* descendent selector */
.desc a {
    color: yellow;
}

/* Child selector */
#child>a {
    color: red;
}

/* pseudo selector */
.pseudo:link {
    color: red;
}

a:hover {
    color: yellow;
    letter-spacing: 5px;
}

a:active {
    color: green;
}

a:visited {
    color: brown;
}

/* Tatget */
:target {
    border: 1px solid red;
}

.borderone{
    border: 2px dotted black;
}
.bordertwo{
    border-top: 10px solid red;

}
.borderstyle{
    border-style: double;
}
.borderwidth{
    border-style: solid;
    /* border-width: 5px; */
    /* border-width: 5px 40px; */
    /* border-width: 2px 5px 10px; */
    border-width: 3px 5px 10px 30px;
}

.bordermix{
    /* border-style: solid; */
    /* border-style: dashed double; */
    /* border-style: dotted solid double; */
    border-style: dashed solid double dotted;
}
.marginone{
    border:1px solid black;
    margin-top:-50px;
}
.margintwo{
    border: 1px solid red;
    margin-left: 10px;
    margin: 5px 10px 30px 50px;
}
.paddingone{
    border: 1px solid green;
     /* padding-top: 50px;  */
     padding: 5px 15px 20px 30px;
}
/* layout */
.inline{
    border: 1px solid red;
    width: 400px;
    /* display: block; */
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 400px;
    display: inline-block;
}
.float-left img{
    width: 40%;
    float: left;
    border-radius: 5px;
}
.clear{
    clear: both;
}
.float-right img{
    width: 40%;
    float: right;
    border-radius: 5px;
}
.header{
    padding-top: 50px;
}
/* Grid */
.gridone ,.gridtwo,.gridthree,.gridFour div{
    padding: 20px;
    color:black;
    text-align: center;
}
.gridone,.gridthree,.gridFour{
    display: grid;
    /* grid-template-columns: auto auto auto ; */
    /* grid-template-columns: 400px 600px auto ; */
    grid-template-columns: 400px 600px auto ;
    grid-gap: 40px;
}
.gridtwo{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-column-gap:50px; */
    /* grid-row-gap:100px */
     grid-gap: 40px;
}
.columnadd{
    grid-column-start: 2;
    grid-column-end: 4;
}
.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}
.relative_parent{
    border:1px solid red;
    width: 1000px;
    height: 400px;

}
.relative{
    border: 1px solid green;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 100px;
}
   .absolute_parent{
    border:1px solid yellow;
    width: 1000px;
    height: 400px;
    position: relative;
   }
   .absolute{
    border:1px solid black;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
   }
   .fixed{
    position: fixed;
    top: 50px;
    left: 100px;
   }
    /* Font */
    .online{
        font-family: 'Dancing Script', cursive;
    }
/* Offline */
    @font-face {
        font-family:pecifico ;
        src: url(font/Pacifico-Regular.ttf);
    }
    .offline{
        font-family:pecifico ;
    }
    i{
        font-size: 30px;
        color: blue;
    }