
    @font-face {
        font-family:noto;
        src: url(../Noto_Serif/NotoSerif-Regular.ttf);
    }

    *{
            font-family:noto;
    }*
    .sub_nav{
        background-color: rgb(67, 67, 94);
    }
    .navbar{
        background-color: rgb(71, 71, 126);
    }
    .header{
        color: gold;
        margin-top: 20px;
    }

    .carousel_text{
        position: absolute;
        top: 90px;
        right: 170px;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 20px;
        color: white;
    }

    /* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* slick end */

/* accomodation start */
.new_arrival_image_hover{
    position: relative;
}

.view_detail{
    position:absolute;
    top: 40%;
    left:20% ;
    display: none;
    color: white;
    background-color:rgba(0, 0, 0, 0.5)
}

.new_arrival_image_hover:hover .view_detail{
  display: block;
}
/* accomodation end */

/* Room detail start */
.detail{
    position: absolute;
    top: 120px;
    left: 10px;
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
}
/* Room detail end */

/* facilities start */
.img_hover{
    overflow: hidden;
  }

  .service_img:hover{
    transform: scale(1.5);
    transition-duration: .7s;
  }
/* facilities end */

/* footer start */
.footer{
    background-color: rgb(71, 71, 126);
}
/* footer end */

/* reservation start */
.reservation{
    background-color: rgb(71, 71, 126);
}
/* reservation end */

/* location start */
hr.new2 {
    border-top: 1px dashed rgb(71, 71, 126);
  }
/* location end */

/* room_service start */
.room_service{
    margin-top: 25px;
}
/* room_service end */

/* swap image start */
body .swap_img{
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    /* background: linear-gradient(lightgreen,gray); */
    overflow: hidden;
}
.swap_img{
    height:700px;
    width: 700px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 15px #333;
}
.swap_img .slides{
    height: calc(20% - 5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
    left: 0;
}
.swap_img .slides > img{
    height: 100%;
    width: calc(20% - 5px);
    /* border: 2px solid black; */
    object-fit: cover;
    cursor: pointer;
}
.swap_img .slides > img:hover{
    filter: grayscale();
}
.big_screen{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(80% -10px);
    width: 100%;
    /* border: 2px solid blue; */
}
.big_screen > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* swap image end*/

/* divided hr start */
.title{
    display: grid;
    grid-template-columns: repeat(3,0.3fr);
    align-items: center;
    /* column-gap: 1.6rem; */
}

.title::before, .title::after{
    content: "";
    height: 2px;
    background-color: #000;
    display: block;
}
/* divided hr line end */

/* contact start */
.contactbg{
    background-color: rgb(71, 71, 126);
    border-radius:10px 40px 100px 300px;
}
/* contact end */

/* slide left start */
.slide_lefttext {
    position: relative;
    width: 100%;
  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(71, 71, 126,0.4);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .slide_lefttext:hover .overlay1 {
    width: 100%;
  }
  
  .text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
/* slide left end */

/* slide bottom start */
.slide_bottomtext {
    position: relative;
    width: 50%;
  }
  
  .image2 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(71, 71, 126,0.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .slide_bottomtext:hover .overlay2 {
    height: 100%;
  }
  
  .text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* slide bottom end */

/* service image text slider top hover start */
.img_textsliderhover {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.345);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .img_textsliderhover:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* service image text slider hover end */

.zoomin{
    position: relative;
    transform: scale(0);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}

.zoomin.active{
    transform: scale(1);
    opacity: 1;
}

.leftin{
    position: relative;
    transform: translateX(-500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.leftin.Leftin{
    transform: translateX(0);
    opacity: 1;
}

.rightin{
    position: relative;
    transform: translateX(500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.rightin.Rightin{
    transform: translateX(0);
    opacity: 1;
}

/* text review start */
.text_review{
    font-weight: bold;
}

.dotted{
    font-weight: bold;
    font-size: x-large;
}
.text_bold{
    font-weight: bold;
}
.padding_text{
    position: absolute;
    top: 673px;
    padding-left: 10px;
}
.fa-location-dot{
    font-size: small;
}
.checked {
    color: rgb(32, 232, 128);
}
a .text_hover:hover{
    color: rgb(0, 76, 255);
    text-decoration-line: underline;
}
.text_small{
    font-size: small;
}
.text_social{
    font-size: small;
}
a .textSocial{
    font-weight: bolder;
}
a .textSocial:hover{
    color: rgb(0, 76, 255);
    text-decoration-line: underline;
}
.padding_text1{
    position: absolute;
    top: 1202px;
    padding-left: 10px;
}
.padding_text2{
    position: absolute;
    top: 1700px;
    padding-left: 10px;
}
/* text review end */

/* read less read more button start */
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}

.text_black{
    font-weight: bolder;
}
.text_font{
    font-size: 15px;
}
a .seeMore_room:hover{
    text-decoration-line: underline;
}
/* read less read more button end */

/* write reviews dropdown start */
.dropbtn {
    background-color: rgb(71, 71, 126);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:rgb(71, 71, 126,0.8)}

  .write_review{
    float: right;
  }
/* write reviews dropdown end */

/* user rating start */
.fa {
    font-size: 25px;
  }
  
  .checked1 {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 15px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 15px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 15px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 15px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 15px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }

  /* .user_rating{
    font-size: small;
  } */
  /* user rating end */





