.navbar{
    background-color: #FF74D1;
}

/* searchbar start */
.btn,.btn:hover{
    background-color: #FF74D1;
}
.fa-cart-shopping{
    color: #FF74D1;
}
.form-control{
    border-color:#FF74D1 ;
}
/* searchbar end */

/* carousel */
.carousel_text{
    position: absolute;
    top: 120px;
    left: 170px;
    background-color:rgba(0, 0, 0, 0.35);
    padding: 20px;
    color: white;
}

@media (max-width: 991.98px) { 
    .carousel_text{
        position: absolute;
        top: 80px;
        left: 150px;
        background-color:rgba(0, 0, 0, 0.35);
        padding: 20px;
        color: white;
    }
 }


/* footer start */
.footer{
    background-color: #FF74D1;
}
.fa-facebook,.fa-twitter,.fa-instagram,.fa-youtube{
    color: #FF74D1;
}
/* footer end */
